.meal-card-container {
	min-width: 25%;
	max-width: max-content;
	margin: 10px;
	background-color: white;
	height: 25%;
	border-radius: 7.5px;
	opacity: 0.9;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	position: relative;
	inset: auto;
	&:hover {
		cursor: pointer;
		transform: translateY(-0.2rem);
		transition: all 0.15s ease-in;
	}
	& p {
		text-align: center;
		display: inline-block;
	}
}
